<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.appleframework.qos.server.statistics.dao.AppInfoDao">
	<resultMap id="baseResultMap" type="com.appleframework.qos.server.core.entity.AppInfo">
		<id column="id" property="id" jdbcType="BIGINT" />
		
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />

		<result column="state" property="state" jdbcType="INTEGER" />
		<result column="disorder" property="disorder" jdbcType="INTEGER" />
		
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	
	</resultMap>
	
	<sql id="baseColumnList">
		id, name, code, state, disorder, create_time, update_time
	</sql>
	
	<insert id="insert" parameterType="com.appleframework.qos.server.core.entity.AppInfo"
	    useGeneratedKeys="true" keyProperty="id">
		insert into app_info (
			name,
			code,
			state,
			disorder,
			create_time,
			update_time
		) values (
			#{name, jdbcType=VARCHAR},
			#{code, jdbcType=VARCHAR},
			#{state, jdbcType=VARCHAR},
			#{disorder, jdbcType=VARCHAR},
			#{createTime, jdbcType=TIMESTAMP},
			#{updateTime, jdbcType=TIMESTAMP}
		)
	</insert>
		
	<select id="getByCode" resultMap="baseResultMap" parameterType="java.lang.String">
		select
		<include refid="baseColumnList" />
		from app_info
		where code = #{code,jdbcType=BIGINT}
	</select>
	
	<select id="get" resultMap="baseResultMap" parameterType="java.lang.Long">
		select
		<include refid="baseColumnList" />
		from app_info
		where id = #{id,jdbcType=VARCHAR}
	</select>
		
	<update id="createTable">
		CREATE TABLE IF NOT EXISTS app_info (
			id int(11) NOT NULL AUTO_INCREMENT,
		  	code varchar(64) DEFAULT NULL COMMENT '应用命名',
		  	name varchar(255) DEFAULT NULL COMMENT '应用名称',
		  	disorder int(11) DEFAULT NULL COMMENT '排序',
		  	state tinyint(3) DEFAULT NULL COMMENT '状态 0=停用 =1启用 =2删除',
		  	create_time datetime DEFAULT NULL COMMENT '创建时间',
		  	update_time datetime DEFAULT NULL COMMENT '更新时间',
		  	PRIMARY KEY (id)
		) ENGINE=InnoDB AUTO_INCREMENT=1000 DEFAULT CHARSET=utf8;
	</update>
	
	<select id="findPage" resultMap="baseResultMap" parameterType="com.appleframework.orm.mybatis.query.PageQuery">
		select 
			<include refid="baseColumnList" /> 
		from 
			app_info
		where 1=1 
         	<if test="keyword!=null">  
            	and 
            	( 
            		name like '%${keyword}%' 
         			or
            		code like '%${keyword}%' 
            	)
         	</if>
         	order by disorder asc
	</select>
	   
</mapper>