<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.appleframework.qos.server.statistics.dao.DayStatMethodDao">
	<resultMap id="baseResultMap" type="com.appleframework.qos.server.core.entity.DayStatMethod">
		<id column="id" property="id" jdbcType="BIGINT" />

		<result column="provider_app_id" property="providerAppId" jdbcType="BIGINT" />
		<result column="provider_app_name" property="providerAppName" jdbcType="VARCHAR" />
		
		<result column="consumer_app_id" property="consumerAppId" jdbcType="BIGINT" />
		<result column="consumer_app_name" property="consumerAppName" jdbcType="VARCHAR" />
		
		<result column="service" property="service" jdbcType="VARCHAR" />
		<result column="method" property="method" jdbcType="VARCHAR" />
		
		<result column="stat_date" property="statDate" jdbcType="TIMESTAMP" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
				
		<result column="fail_sum_number" property="failSumNumber" jdbcType="BIGINT" />
		<result column="fail_avg_elapsed" property="failAvgElapsed" jdbcType="BIGINT" />
		<result column="fail_max_elapsed" property="succMaxElapsed" jdbcType="BIGINT" />
		
		<result column="succ_sum_number" property="succSumNumber" jdbcType="BIGINT" />
		<result column="succ_avg_elapsed" property="succAvgElapsed" jdbcType="BIGINT" />
		<result column="succ_max_elapsed" property="succMaxElapsed" jdbcType="BIGINT" />
		
		<result column="total_sum_number" property="totalSumNumber" jdbcType="BIGINT" />
		<result column="total_avg_elapsed" property="totalAvgElapsed" jdbcType="BIGINT" />
		<result column="total_succ_per" property="totalSuccPer" jdbcType="DOUBLE" />
	
	</resultMap>
	
	<sql id="baseColumnList">
		id, 
		
		provider_app_id, provider_app_name, 
		consumer_app_id, consumer_app_name, 
		
		service, method, 
				
		stat_date, create_time, update_time, 
		
		fail_sum_number, fail_avg_elapsed, fail_max_elapsed,
		succ_sum_number, succ_avg_elapsed, succ_max_elapsed,
		
		total_sum_number, total_avg_elapsed, total_succ_per
	</sql>
	
	<insert id="insert" parameterType="com.appleframework.qos.server.core.entity.DayStatMethod">
		insert into stat_day_method (
		
			provider_app_id,
			provider_app_name,
			consumer_app_id,
			consumer_app_name,
			
			service,
			method,
						
			fail_sum_number,
			fail_avg_elapsed,
			fail_max_elapsed,
			succ_sum_number,
			succ_avg_elapsed,
			succ_max_elapsed,
			total_sum_number,
			total_avg_elapsed,
			total_succ_per,
			
			stat_date,
			create_time
		)
		values (
			#{providerAppId, jdbcType=INTEGER},
			#{providerAppName, jdbcType=VARCHAR},
			#{consumerAppId, jdbcType=INTEGER},
			#{consumerAppName, jdbcType=VARCHAR},
			
			#{service, jdbcType=VARCHAR},
			#{method, jdbcType=VARCHAR},
			
			#{failSumNumber, jdbcType=BIGINT},
			#{failAvgElapsed, jdbcType=BIGINT},
			#{failMaxElapsed, jdbcType=BIGINT},
			#{succSumNumber, jdbcType=BIGINT},
			#{succAvgElapsed, jdbcType=BIGINT},
			#{succMaxElapsed, jdbcType=BIGINT},
			#{totalSumNumber, jdbcType=BIGINT},
			#{totalAvgElapsed, jdbcType=BIGINT},
			#{totalSuccPer, jdbcType=DOUBLE},
			
			#{statDate, jdbcType=TIMESTAMP},
			#{createTime, jdbcType=TIMESTAMP}
			
		)
	</insert>
	
	<update id="update" parameterType="com.appleframework.qos.server.core.entity.DayStatMethod">
		update 
			stat_day_method
		set 
			fail_sum_number = ${failSumNumber},
			fail_avg_elapsed  = ${failAvgElapsed},
			fail_max_elapsed = ${failMaxElapsed},
			succ_sum_number = ${succSumNumber},
			succ_avg_elapsed = ${succAvgElapsed},
			succ_max_elapsed = ${succMaxElapsed},
			total_sum_number = ${totalSumNumber},
			total_avg_elapsed = ${totalAvgElapsed},
			total_succ_per = ${totalSuccPer},
			update_time = #{updateTime, jdbcType=TIMESTAMP}
		where 
			id = #{id, jdbcType=BIGINT}
	</update>	
	
	<select id="getByDate" resultMap="baseResultMap" parameterType="com.appleframework.orm.mybatis.query.MapQuery">
		select 
			<include refid="baseColumnList" /> 
		from 
			stat_day_method
		where 
			provider_app_id = ${providerAppId} and 
			consumer_app_id = ${consumerAppId} and 
			service = '${service}' and 
			method = '${method}' and 
			stat_date = #{statDate, jdbcType=TIMESTAMP} limit 1
	</select>
		
	<!-- 
	<select id="findPageByAppAndDay" resultMap="baseResultMap" parameterType="com.glsx.gsc.statistics.page.Query">
		select 
			<include refid="baseColumnList" /> 
		from 
			glsx_gsc_${month}.glsx_stat_day_service_${month}
		where 
			stat_date = #{startDate, jdbcType=TIMESTAMP} 
         	
         	<if test="consumerAppName!=null">  
            	and consumer_app_name like '%${consumerAppName}%' 
         	</if>
         	<if test="providerAppName!=null">  
            	and provider_app_name like '%${providerAppName}%' 
         	</if>
         	
         	<if test="service!=null">  
            	and service like '%${service}%' 
         	</if>
         	<if test="method!=null">  
            	and method like '%${method}%' 
         	</if>
         	
         	order by stat_date desc, total_sum_number desc
	</select>
	 -->
	 
	 <update id="createTable">
		CREATE TABLE IF NOT EXISTS stat_day_method (
			  id int(11) NOT NULL AUTO_INCREMENT,
			  stat_date date DEFAULT NULL COMMENT '统计时间',
			  provider_app_id int(11) DEFAULT NULL COMMENT '服务提供方应用ID',
			  provider_app_name varchar(64) CHARACTER SET utf8 DEFAULT NULL COMMENT '服务提供方名称',
			  consumer_app_id int(11) DEFAULT NULL COMMENT '服务消费方应用ID',
			  consumer_app_name varchar(64) CHARACTER SET utf8 DEFAULT NULL COMMENT '服务消费方名称',
			  service varchar(255) COLLATE utf8_bin DEFAULT NULL COMMENT '服务名称',
			  method varchar(64) CHARACTER SET utf8 DEFAULT NULL COMMENT '方法',
			  fail_sum_number bigint(20) DEFAULT NULL COMMENT '调用失败总数',
			  fail_avg_elapsed bigint(20) DEFAULT NULL COMMENT '调用失败平均耗时',
			  fail_max_elapsed bigint(20) DEFAULT NULL COMMENT '调用失败最大耗时',
			  succ_sum_number bigint(20) DEFAULT NULL COMMENT '调用成功总数',
			  succ_avg_elapsed bigint(20) DEFAULT NULL COMMENT '调用成功平均耗时',
			  succ_max_elapsed bigint(20) DEFAULT NULL COMMENT '调用成功最大耗时',
			  total_sum_number bigint(20) DEFAULT NULL COMMENT '调用总次数',
			  total_avg_elapsed bigint(20) DEFAULT NULL COMMENT '调用总平均耗时',
			  total_succ_per double DEFAULT NULL COMMENT '调用成功比率',
			  create_time timestamp NULL DEFAULT NULL COMMENT '信息入库时间',
			  update_time timestamp NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP COMMENT '信息更新时间',
			  PRIMARY KEY (id)
		) ENGINE=InnoDB AUTO_INCREMENT=1000 DEFAULT CHARSET=utf8;
	</update>
	
	<select id="findPage" resultMap="baseResultMap">
		select 
			<include refid="baseColumnList" /> 
		from 
			stat_day_method
		where 
			1=1
			
			<if test="so.startDate!=null">  
            	and stat_date &gt;= #{so.startDate, jdbcType=TIMESTAMP} 
         	</if>
         	<if test="so.endDate!=null">  
            	and stat_date &lt;= #{so.endDate, jdbcType=TIMESTAMP} 
         	</if>
         	
         	<if test="so.consumerAppName!=null">  
            	and consumer_app_name like '%${so.consumerAppName}%' 
         	</if>
         	<if test="so.providerAppName!=null">  
            	and provider_app_name like '%${so.providerAppName}%' 
         	</if>
         	
         	<if test="so.service!=null">  
            	and service like '%${so.service}%' 
         	</if>
         	<if test="so.method!=null">  
            	and method like '%${so.method}%' 
         	</if>
         	
         	order by 
         	<choose>
				<when test="se.orderField != null and se.orderField != ''">
					${se.orderField}
				</when>
				<otherwise>
					total_succ_per
				</otherwise>
			</choose>
			
			<choose>
				<when test="se.orderDirection != null and se.orderDirection != ''">
					${se.orderDirection}
				</when>
				<otherwise>
					asc
				</otherwise>
			</choose>
         	
	</select>
</mapper>