@charset "utf-8";
/*normal*/
*{margin:0;padding:0;}
img, fieldset, textarea{border:0;}
input, label, select, option, textarea, button, fieldset, legend{font:12px/20px "宋体", Arial, "Lucida Grande", Verdana, Lucida, Helvetica, sans-serif;}
input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {border:none;padding:0;}
input[type="radio"], input[type="checkbox"]{ vertical-align:-2px; margin-right:5px;}
table{ border-collapse:collapse; border-spacing:0; font:13px/18px "宋体", Verdana, Simsun, Helvetica, Arial, sans-serif;}
table td{ word-wrap:break-word;}
ul, ol{list-style:none;}
em, q{font-style:normal;}
body{font:13px/26px "宋体", Arial, "Lucida Grande", Verdana, Lucida, Helvetica, sans-serif; color:#575a5d; background:#eff6ff; height:100%; overflow:hidden;}

/*global*/
.left{float:left; display:inline;}
.right{float:right; display:inline;}
.hide{display:none;}
.clearfix:after{display:block; clear:both; content:""; visibility:hidden; height:0;}
.clearfix{zoom:1;}
.clear{ clear:both;}
.w7{ font-weight:700;}

/* 链接 */
a{text-decoration:none;color:#575a5d;}
a:hover{ color:#004499;}

/*=================== 登录样式 =====================*/
.login_warp{ background:url("../images/login_bg.jpg") center center no-repeat; position:relative;}

/* login_con */
.login_con{ width:538px; position:absolute; top:28%; left:36%;}
.login_top, .login_bottom, .login_mod, .login_tit, .btn_login { background:url("../images/login_box.png") no-repeat;}
.login_top, .login_bottom { background-position:0 0; display:block; width:538px; height:64px; overflow:hidden;}
.login_bottom{ background-position:0 -64px; height:40px;}
.login_top{ overflow:visible; position:relative;}
.login_tit{ background-position:0 -170px; display:block; width:386px; height:63px; overflow:hidden; text-indent:-9999px; position:absolute; top:-1px; left:78px;}
.login_mod{ background-position:-538px 0; background-repeat:repeat-y;}
.login_form{ width:395px; margin:0 auto; padding:7px 0 10px; min-height:294px; height:auto !important; height:294px;}
.login_form p{ padding:7px 0;}
.login_form .in_text{ display:inline-block; vertical-align:middle; width:353px; height:48px; line-height:48px; overflow:hidden; padding:0 20px; color:#b1b1b1; background-color:#fafcfe; border:1px solid #afafaf; box-shadow:0 2px 5px #ccc inset; border-radius:5px; font-size:14px;}
.login_form .code{ display:inline-block; vertical-align:middle; width:130px; height:52px; overflow:hidden; background:#FFF; border:1px solid #cfd7e2; margin-left:10px;}
.login_form .tips{ display:block; padding:0 5px; color:#333;}
.login_form .tips em{ display:block; width:124px;}
.login_form .tips a{ color:#0066ff;}
.login_form .tips a:hover{ text-decoration:underline;}
.btn_login{ background-position:0 -110px; display:block; width:395px; height:53px; line-height:53px; overflow:hidden; text-align:center; border:none; cursor:pointer; font-size:18px; color:#FFF; font-family:"微软雅黑"; font-weight:bold; text-shadow:1px 1px 1px #7fa74f;}

/*=================== 控制面板 =====================*/
/*------ header ------*/
.header{ height:100px; overflow:hidden; background:#1c539c; position:relative;}
.header h1{ position:absolute; top:25px; left:20px;}
.LOGO{ background:url("../images/control_panel_logo.png") 0 0 no-repeat; display:block; width:205px; height:58px; overflow:hidden; text-indent:-9999px; _background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/control_panel_logo.png",sizingMethod='crop');}

/* head_top_link */
.head_top_link{ height:42px; line-height:42px; overflow:hidden; margin:0 20px;}
.ul_head_top_link li{ float:left; display:block; color:#dde5ee; text-shadow:1px 1px 2px #666; position:relative;}
.ul_head_top_link li .name, .ul_head_top_link li a{ color:#dde5ee; margin:0 10px;}
.ul_head_top_link li a:hover{ color:#FFF;}
.ul_head_top_link li a.down_menu{ background:url("../images/control_panel_down.png") right center no-repeat; padding-right:12px;}
/*
.ul_down_menu{ position:absolute; left:0; top:22px; display:none;}
.ul_down_menu li{ float:none;}*/

/*------ container ------*/
.control_bg{ background:#eff6ff url("../images/control_panel_bg.jpg") center top repeat; position:relative;}
.container{ width:980px; margin:0 auto; position:relative;}
.slideimg_show{ width:980px; height:604px; overflow:hidden; border:none; position:relative;}
.slideimg_con{ position:relative;}
.to_lr_btn{ width:100%; text-align:center; position:absolute; bottom:0; left:0;}
.to_lr_btn a{ display:inline-block; vertical-align:middle; width:13px; height:15px; overflow:hidden; margin:0 9px;}
.to_lr_btn a img{ vertical-align:top;}
.to_lr_btn a.goleftbtn{ background:url("../images/left_btn.png") 0 0 no-repeat;}
.to_lr_btn a.gorightbtn{ background:url("../images/right_btn.png") 0 0 no-repeat;}
.center_dot{ display:inline-block; vertical-align:middle; height:16px; overflow:hidden;}
.center_dot span { background:url("../images/center_dot.png") no-repeat -33px 0; _background:url("../images/center_dot.gif") no-repeat -33px 0; display:inline-block; vertical-align:top; width:15px; height:16px; overflow:hidden; cursor:pointer; margin:0 9px;}
.center_dot span.focus { background-position:0 0;}

/* control_panel_list */
.control_panel_list{ float:left; width:960px; padding:0 10px;}
.control_panel_list li{ float:left; display:block; width:136px; height:164px; overflow:hidden; padding:69px 52px;}
.control_panel_list li a.ico{ display:block; width:136px; height:136px; overflow:hidden; margin-bottom:8px;}
.control_panel_list li h3{ height:20px; line-height:20px; overflow:hidden; text-align:center; font-size:14px;}
.control_panel_list li h3 a{ color:#41464a;}
.control_panel_list li h3 a:hover{ color:#124786;}

/*------ footer ------*/
.footer{ width:100%; text-align:center; padding:20px 0 10px; font-size:12px; position:absolute; left:0; bottom:0;}